#_form_1_ {
    font-size: 14px;
    line-height: 1.6;
    font-family: arial, helvetica, sans-serif;
    margin: 0;
}

@media (min-width: 651px) {
    #_form_1_ {

    padding: 48px !important;
    }
}

#_form_1_ * {
    outline: 0;
}

._form_hide {
    display: none;
    visibility: hidden;
}

._form_show {
    display: block;
    visibility: visible;
}

#_form_1_._form-top {
    top: 0;
}

#_form_1_._form-bottom {
    bottom: 0;
}


#_form_1_._form-left {
    left: 0;
}

#_form_1_._form-right {
    right: 0;
}

#_form_1_ input[type='text'],
#_form_1_ input[type='date'],
#_form_1_ textarea {
    padding: 6px;
    height: auto;
    border: #fff 1px solid;
    border-radius: 4px;
    color: #fff !important;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#_form_1_ textarea {
    resize: none;
}

#_form_1_ ._submit {
    -webkit-appearance: none;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 21px;
    text-align: center;
    -webkit-box-shadow: 0 1px 5px rgb(0, 0, 0);
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: rgb(66, 41, 37);
    background-color: rgb(241, 163, 1) !important;
    padding: 13px 35px !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-weight: bold;

}

#_form_1_ ._submit:hover {
    background-color: #c88801 !important;
}

#_form_1_ ._close-icon {
    cursor: pointer;
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png');
    background-repeat: no-repeat;
    background-size: 14.2px 14.2px;
    position: absolute;
    display: block;
    top: 11px;
    right: 9px;
    overflow: hidden;
    width: 16.2px;
    height: 16.2px;
}

#_form_1_ ._close-icon:before {
    position: relative;
}

#_form_1_ ._form-body {
    margin-bottom: 30px;
}

#_form_1_ ._form-image-left {
    width: 150px;
    float: left;
}

#_form_1_ ._form-content-right {
    margin-left: 164px;
}

#_form_1_ ._form-branding {
    color: #fff;
    font-size: 10px;
    clear: both;
    text-align: left;
    margin-top: 30px;
    font-weight: 100;
}

#_form_1_ ._form-branding ._logo {
    display: block;
    width: 130px;
    height: 14px;
    margin-top: 6px;
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png');
    background-size: 130px auto;
    background-repeat: no-repeat;
}

#_form_1_ ._form-label,
#_form_1_ ._form_element ._form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
}

#_form_1_._dark ._form-branding {
    color: #333;
}

#_form_1_._dark ._form-branding ._logo {
    background-image: url('https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png');
}

#_form_1_ ._form_element {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
    max-width: 100%;
}

#_form_1_ ._form_element * {
    font-size: 14px;
    text-align: left;
    color: white;
    font-family: sans-serif;
}


#_form_1_ ._form_element._clear {
    clear: both;
    width: 100%;
    float: none;
}

#_form_1_ ._form_element._clear:after {
    clear: left;
}

#_form_1_ ._form_element input[type='text'],
#_form_1_ ._form_element input[type='date'],
#_form_1_ ._form_element select,
#_form_1_ ._form_element textarea:not(.g-recaptcha-response) {
    display: block;
    font-size: 18px;
    background: #f44;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 12px 18px;
}

#_form_1_ ._field-wrapper {
    position: relative;
    margin-bottom: 20px;
}

#_form_1_ ._inline-style {
    float: left;
}

#_form_1_ ._inline-style input[type='text'] {
    width: 150px;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #eaeaea;
    opacity: 1;
    /* Firefox */
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #eaeaea;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #eaeaea;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #eaeaea;
}

#_form_1_ ._inline-style:not(._clear)+._inline-style:not(._clear) {
    margin-left: 20px;
}

#_form_1_ ._form_element img._form-image {
    max-width: 100%;
}

#_form_1_ ._clear-element {
    clear: left;
}

#_form_1_ ._full_width {
    width: 100%;
    text-align: center;
}

#_form_1_ ._form_full_field {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

#_form_1_ input[type='text']._has_error,
#_form_1_ textarea._has_error {
    border: #f37c7b 1px solid;
}

#_form_1_ input[type="checkbox"]._has_error {
    outline: #f37c7b 1px solid;
}

#_form_1_ ._error {
    display: block;
    position: absolute;
    font-size: 14px;
    z-index: 10000001;
}

#_form_1_ ._error._above {
    padding-bottom: 4px;
    bottom: 39px;
    right: 0;
}

#_form_1_ ._error._below {
    padding-top: 4px;
    top: 100%;
    right: 0;
}

#_form_1_ ._error._above ._error-arrow {
    bottom: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #F37C7B;
}

#_form_1_ ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #F37C7B;
}

#_form_1_ ._error-inner {
    padding: 8px 12px;
    background-color: #f37c7b;
    font-size: 14px;
    font-family: arial, sans-serif;
    color: #fff;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

#_form_1_ ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left;
}

#_form_1_ ._button-wrapper ._error-inner._form_error {
    position: static;
}

#_form_1_ ._error-inner._no_arrow {
    margin-bottom: 10px;
}

#_form_1_ ._error-arrow {
    position: absolute;
    width: 0;
    height: 0;
}

#_form_1_ ._error-html {
    margin-bottom: 10px;
}

.pika-single {
    z-index: 10000001 !important;
}

@media all and (min-width:320px) and (max-width:667px) {
    ::-webkit-scrollbar {
    display: none;
    }

    #_form_1_ {
    margin: 0;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    }

    #_form_1_ * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    }

    #_form_1_ ._form-content {
    margin: 0;
    width: 100%;
    }

    #_form_1_ ._form-inner {
    display: block;
    min-width: 100%;
    }

    #_form_1_ ._form-title,
    #_form_1_ ._inline-style {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    }

    #_form_1_ ._form-title {
    font-size: 1.2em;
    }

    #_form_1_ ._form_element {
    margin: 0 0 20px;
    padding: 0;
    width: 100%;
    }

    #_form_1_ ._form-element,
    #_form_1_ ._inline-style,
    #_form_1_ input[type="text"],
    #_form_1_ label,
    #_form_1_ p,
    #_form_1_ textarea:not(.g-recaptcha-response) {
    float: none;
    display: block;
    width: 100%;
    }

    #_form_1_ ._row._checkbox-radio label {
    display: inline;
    }

    #_form_1_ ._row,
    #_form_1_ p,
    #_form_1_ label {
    margin-bottom: 0.7em;
    width: 100%;
    }

    #_form_1_ ._row input[type="checkbox"],
    #_form_1_ ._row input[type="radio"] {
    margin: 0 !important;
    vertical-align: middle !important;
    }

    #_form_1_ ._row input[type="checkbox"]+span label {
    display: inline;
    }

    #_form_1_ ._row span label {
    margin: 0 !important;
    width: initial !important;
    vertical-align: middle !important;
    }

    #_form_1_ ._form-image {
    max-width: 100%;
    height: auto !important;

    }

    #_form_1_::placeholder {
    color: white !important;
    }

    #_form_1_ input[type="text"] {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 1.3em;
    -webkit-appearance: none;
    }

    #_form_1_ input[type="radio"],
    #_form_1_ input[type="checkbox"] {
    display: inline-block;
    width: 1.3em;
    height: 1.3em;
    font-size: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: baseline;
    }

    #_form_1_ button[type="submit"] {
    padding: 20px;
    font-size: 1.5em;
    }

    #_form_1_ ._inline-style {
    margin: 20px 0 0 !important;
    }
}

#_form_1_ {
    position: relative;
    text-align: left;
    margin: 0px auto 0;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    *zoom: 1;
    background: #ff0000 !important;
    border: 0px solid #B0B0B0 !important;
    width: 600px;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 11px !important;
    color: #000 !important;
}

#_form_1_ ._form-title {
    font-size: 32px;
    line-height: normal;
    text-align: center;
    font-weight: 700;
    margin-bottom: 0;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    margin-bottom: 20px;
}

#_form_1_:before,
#_form_1_:after {
    content: " ";
    display: table;
}

#_form_1_:after {
    clear: both;
}

#_form_1_._inline-style {
    width: auto;
    display: inline-block;
}

#_form_1_._inline-style input[type="text"],
#_form_1_._inline-style input[type="date"] {
    padding: 10px 12px;
}

#_form_1_._inline-style button._inline-style {
    position: relative;
    top: 27px;
}

#_form_1_._inline-style p {
    margin: 0;
}

#_form_1_._inline-style ._button-wrapper {
    position: relative;
    margin: 27px 12.5px 0 20px;
}

#_form_1_ ._form-thank-you {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
}

.modal-header{
    background-color:#4e73df;
}

.botoncito{
    background: #bb010f;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    width: 45%;
    padding: 5px;
    border-radius: 10px;
}

.botonrojo3{
    background: #fe0025;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    }

.botonrojo5{
    background: #ff3c50;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    width: 40%;
    border-radius: 10px;
}

.titu{
    text-align:center;
    color:#522a2af2;
}

.opcion{
    width:95%;
}

@media all and (min-width:320px) and (max-width:667px) {
    .modal-dialog {
        display:-ms-flexbox;display:flex;
        -ms-flex-align:center;
        align-items:center;
        min-height:calc(100% - (.5rem * 2));
    }
}